body {
	background-color: black;
	text-align: center;
}

.container{
	position: absolute;
	height: 300px;
    width: 650px;
    z-index: 15;
  	top: 50%;
  	left: 50%;
  	margin: -100px 0 0 -150px; 
    border: 5px solid green ;
    background-color: #8A817C

}

.a-left {
	text-align: left;
}

.right {
	float: right
}

.left {
	float: left;
}

img {
	padding-right: 20px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-linkedin {
	background: #0077B5;
	color: white;
}

.resume {
	color: white;
	background: red;
	width: 100px;
	font-weight: bold;

}
