img {
	width: 100px;
	height: 100px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
	background: #0077B5;
	color: white;
	text-align: center;
}

.fa-envelope-o {
	background: red;
	color: grey;
}

.resume {
	color: white;
	background: red;
}