.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.margin {
	margin-bottom: 45px;
}


.sec-1 {
	background-color: #d8c99b;
}

.sec-2 {
	background-color: #bd632f;
}

.sec-3 {
	background-color: #d8973c;
}

.sec-4 {
	background-color: #273e47;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-linkedin {
	background: #0077B5;
	color: white;
}

.resume {
	color: white;
	background: red;
	width: 100px;
	font-weight: bold;

}
