body {
	background-color: black;
}

.container{
    padding-top: 70px;
    padding-bottom: 70px;
    height: 500px;
    width: 600px;
    border: 5px solid green ;
    margin: auto auto;
    background-color: #8A817C
}

.a-left {
	text-align: left;
}


.inbl {
    display: inline-block;
    vertical-align: left;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-linkedin {
	background: #0077B5;
	color: white;
}

.resume {
	color: white;
	background: red;
	width: 100px;
	font-weight: bold;

}
