body {
	background-image: url("/img/mtb.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.container{
	opacity: 0.5;
	height: 350px;
    width: 650px;
    background-color: #8A817C;
    border-radius: 25px;
    position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

.a-left {
	text-align: left;
}

.right {
	float: right;
}

.left {
	float: left;
}

img {
	padding-right: 20px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-linkedin {
	background: #0077B5;
	color: white;
}

.resume {
	color: white;
	background: red;
	width: 100px;
	font-weight: bold;

}
